@font-face {
  font-family: "iqor-icon";
  src: url('iqor-icon.eot?t=1636349317075'); /* IE9*/
  src: url('iqor-icon.eot?t=1636349317075#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("iqor-icon.woff2?t=1636349317075") format("woff2"),
  url("iqor-icon.woff?t=1636349317075") format("woff"),
  url('iqor-icon.ttf?t=1636349317075') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iqor-icon.svg?t=1636349317075#iqor-icon') format('svg'); /* iOS 4.1- */
}

[class^="icn-"], [class*=" icn-"] {
  font-family: 'iqor-icon' !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icn-back-down:before { content: "\41"; }
.icn-back-up:before { content: "\42"; }
.icn-brightness-down:before { content: "\43"; }
.icn-brightness-up:before { content: "\44"; }
.icn-camera-ccw:before { content: "\45"; }
.icn-camera-cw:before { content: "\46"; }
.icn-camera-onoff:before { content: "\47"; }
.icn-color-temp:before { content: "\48"; }
.icn-dndo:before { content: "\49"; }
.icn-equipment-control:before { content: "\4a"; }
.icn-flex:before { content: "\4b"; }
.icn-iqor:before { content: "\4c"; }
.icn-kidndy-down:before { content: "\4d"; }
.icn-kindey-up:before { content: "\4e"; }
.icn-leg-down:before { content: "\4f"; }
.icn-leg-l-down:before { content: "\50"; }
.icn-leg-l-up:before { content: "\51"; }
.icn-leg-r-down:before { content: "\52"; }
.icn-leg-r-up:before { content: "\53"; }
.icn-leg-up:before { content: "\54"; }
.icn-level:before { content: "\55"; }
.icn-light-50:before { content: "\56"; }
.icn-light-70:before { content: "\57"; }
.icn-lock:before { content: "\58"; }
.icn-normal-function:before { content: "\59"; }
.icn-onoff:before { content: "\5a"; }
.icn-pacs:before { content: "\5b"; }
.icn-pip-notext:before { content: "\5c"; }
.icn-pip:before { content: "\5d"; }
.icn-quad-1-notext:before { content: "\5e"; }
.icn-quad-1:before { content: "\5f"; }
.icn-quad-2-notext:before { content: "\60"; }
.icn-quad-2:before { content: "\61"; }
.icn-reflex:before { content: "\62"; }
.icn-rev-trend:before { content: "\63"; }
.icn-reverse-function:before { content: "\64"; }
.icn-single-1:before { content: "\65"; }
.icn-single-2:before { content: "\66"; }
.icn-single-3:before { content: "\67"; }
.icn-single-4:before { content: "\68"; }
.icn-slide-foot:before { content: "\69"; }
.icn-slide-head:before { content: "\6a"; }
.icn-sync:before { content: "\6b"; }
.icn-table-down:before { content: "\6c"; }
.icn-table-up:before { content: "\6d"; }
.icn-table:before { content: "\6e"; }
.icn-tilt-l:before { content: "\6f"; }
.icn-tilt-r:before { content: "\70"; }
.icn-trend:before { content: "\71"; }
.icn-unlock:before { content: "\72"; }
.icn-video-control:before { content: "\73"; }
